spring:
  application:
    name: spring-cloud-eureka
  profiles: peer1
server:
  port: 9000
eureka:
  instance:
    hostname: peer1
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://peer2:9000/eureka
management:
  endpoints:
    web:
      exposure:
        include: "*"